<!DOCTYPE html>
<html>
    <head>
        <title>ByJus Voting System</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" >
    </head>
    <body>
        <input v-on:click="logout" type="button" value="Logout !!!" class="logout"> 
        <div id="allPollContent" class="allDashboardContent">
            <div id="createNewPoll" class="createNewPoll">
                <h2> Create Poll </h2>
                <h3> Make New Poll </h3>
                <div class="optionTitle">Title <input v-model="pollname" type="text" placeholder="Poll Name ..." /> </div>
                Options
                <div><textarea v-model="polloptions"></textarea></div>
                <input v-on:click="createPoll" type="button" value="Create !!!"> 
            </div>
            
            <div id="pollManupilation" class="pollManupilation">
                <h2> Poll List </h2>
                <table class="pollTable">
                    <tr>
                        <th>Poll Title</th>
                        <th>View</th>
                        <th>Remove</th>
                    </tr>
                    <tr v-for="poll in pollList">
                        <td>{{ poll.pollName }}</td>
                        <td> <input v-on:click="view(poll);" type="button" value="View"> </input> </td>
                        <td> <input v-on:click="remove(poll);" v-if="poll.thisUser  " type="button" value="Remove"> </input></td>
                    </tr>
                </table>
            </div>
        </div>

        <script type="text/javascript" src="https://unpkg.com/vue"></script>
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
        <script src="https://unpkg.com/vuex@2.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-session@1.0.0/index.min.js"></script>
        <script type="text/javascript" src="javascripts/config.js"></script>
        <script type="text/javascript" src="javascripts/dashbaord.js"></script>
    </body>
</html>